.cover__title {
  position: relative;
  margin: 0 auto;
  padding: 33px 16px 0 16px;
  max-width: 560px;

  font-size: 32px;
  font-style: normal;
  font-weight: 900;
  line-height: 35px;
  letter-spacing: 0em;
  text-align: center;
  color: white;
  z-index: 1;
}

@media screen and (min-width: 768px) {
  .cover__title {
    font-size: 72px;
    line-height: 76px;
  }
}

@media screen and (min-width: 1024px) {
  .cover__title {
    padding-top: 30px;
  }
}
